@use 'variables'

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: variables.$font-stack

    body
        background: variables.$container-bg-color
        height: 100vh
        max-width: 1440px
        margin: 0 auto
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

        .container
            border: 5px solid black            
            .cards
                border: 5px solid gray
                display: flex
                gap: 5px                
                .card-1
                    border: 5px solid black
                .card-group
                    border: 5px solid red
                    display: flex
                    flex-direction: column
                    gap: 5px
                    .card-2
                        border: 5px solid black
                    .card-3
                        border: 5px solid black
                .card-4
                    border: 5px solid black